<extend name="public/base" />
<block name="body">
    <section class="rt_wrap content">
        <div class="rt_content">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">{$title}</li>
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr" onclick="layer_close_iframe()">返回列表</button>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="tab-item-content">
                            <form class="layui-form" action="">
                                <gt name="cur.id" value="0">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">用户名</label>
                                        <div class="layui-form-mid layui-word-aux">{$cur.username}</div>
                                    </div>
                                    <else/>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label"><b class="is_must">*</b>用户名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="username"  lay-verify="required" placeholder="请填写登录用户名" autocomplete="off" class="layui-input" />
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label"><b class="is_must">*</b>密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="password"  lay-verify="required" placeholder="请填写登录密码" autocomplete="off" class="layui-input" value="666666" />
                                        </div>
                                        <div class="layui-form-mid layui-word-aux">默认密码为：666666</div>
                                    </div>
                                </gt>
                                <div class="layui-form-item">
                                    <label class="layui-form-label"><b class="is_must">*</b>角色</label>
                                    <div class="layui-input-inline">
                                        <select name="role_id" lay-verify="required" placeholder="请选择用户角色">
                                            <option value="">选择用户角色</option>
                                            <volist name="role_list" id="v">
                                                <in name="v.id" value="5,6">
                                                    <option disabled>{$v.name}</option>
                                                    <else/>
                                                    <eq name="v.id" value="$cur.role_id">
                                                        <option value="{$v.id}" selected="selected">{$v.name}</option>
                                                        <else/>
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </eq>
                                                </in>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label"><b class="is_must">*</b>性别</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="sex" value="1" title="男" <neq name="cur.sex" value="2"> checked="checked"</neq> />
                                        <input type="radio" name="sex" value="2" title="女" <eq name="cur.sex" value="2"> checked="checked"</eq> />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label"><b class="is_must">*</b>状态</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="status" value="1" title="启用" <neq name="cur.status" value="2"> checked="checked"</neq> />
                                        <input type="radio" name="status" value="2" title="停用" <eq name="cur.status" value="2"> checked="checked"</eq> />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="realname" autocomplete="off" class="layui-input" value="{$cur.realname}" />
                                    </div>
                                </div>
                                <div class="layui-form-item box-bottom">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formSubmit" data-id="{$cur.id}" data-url="{:url('doneUser')}" data-back="{:url('user')}">立即提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>