<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>乡村振兴<block name='title'></block></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <css href="__COMMON__/font-awesome-4.7.0/css/font-awesome.min.css" />
    <css href="__COMMON__/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <css href="__COMMON__/layui/css/layui.css" />
    <css href="__CSS__/style.css" />
    <block name="css"></block>
    <link rel="icon" href="__COMMON__/img/favicon.ico" type="image/x-icon"/>
    <js href="__COMMON__/js/jquery-1.12.2.min.js" />
    <js href="__COMMON__/js/jquery-migrate-1.2.1.min.js" />
    <js href="__COMMON__/js/jquery.pseudo.js" /><!--before/after-->
    <js href="__COMMON__/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" />
    <js href="__COMMON__/layui/layui.all.js" />
    <js href="__COMMON__/js/dotdotdot.js" />
    <js href="__COMMON__/js/common.js" />
    <js href="__JS__/common.js" />
    <!--[if lt IE 9]>
    <js href="__COMMON__/html5.js" />
    <js href="__COMMON__/css3-mediaqueries.js" />
    <![endif]-->
    <block name="js"></block>
</head>
<body>
    <block name="header"></block>

    <div class="body-box">
        <block name="body"></block>
    </div>

    <block name="footer"></block>

    <block name="jsdiv"></block>

    <DIV class=browser-updator style='HEIGHT: 45px; _top: 924px;clear:both' _ks_data_1427189382133='71'>
        <DIV class=browser-updator-wrapper>
            <P>
                <SPAN>您好，您的浏览器版本过低导致部分功能不能使用，为了方便您的操作，360浏览器请切换至“极速”模式，IE浏览器请升级浏览器：</SPAN>
                <SPAN>点击下载</SPAN>
                <A class='browser-updator-browser browser-updator-ie' href='http://rj.baidu.com/soft/detail/23360.html?ald' target=_blank data-spm-anchor-id='1.7274553.0.0'>升级IE浏览器</A>
            </P>
            <A class=browser-updator-close href='javascript:void(0);'>关闭</A>
        </DIV>
    </DIV>
</body>
</html>