<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><block name='title'></block></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <css href="__COMMON__/font-awesome-4.7.0/css/font-awesome.min.css" />
    <css href="__COMMON__/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <css href="__COMMON__/layer/css/mobile/need/layer.css" />
    <css href="__CSS__/base.css" />
    <block name="css"></block>
    <link rel="icon" href="__COMMON__/img/favicon.ico" type="image/x-icon"/>
    <js href="__JS__/birthday.js" />
    <js href="__JS__/common.js" />
    <js href="__COMMON__/js/jquery.min.js" />
    <js href="__COMMON__/js/jquery-migrate-1.2.1.min.js" />
    <js href="__COMMON__/js/jquery.pseudo.js" /><!--before/after-->
    <js href="__COMMON__/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" />
    <js href="__COMMON__/layer/layer.js" />
    <js href="__COMMON__/js/dotdotdot.js" />
    <css href="__COMMON__/swiper/swiper-4.0.7.min.css" />
    <js href="__COMMON__/swiper/swiper-4.0.7.min.js" />
    <!--[if lt IE 9]>
    <js href="__COMMON__/html5.js" />
    <js href="__COMMON__/css3-mediaqueries.js" />
    <![endif]-->
</head>
<body>

<div class="body-box">
    <block name="body"></block>
</div>

<block name="jsDiv"></block>
</body>
</html>