<extend name="public/base" />
<block name="body">
    <section class="rt_wrap content">
        <div class="rt_content">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">{$title}</li>
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr" onclick="layer_close_iframe()">返回列表</button>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="tab-item-content">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label"><b class="is_must">*</b>页面名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title"  lay-verify="required" placeholder="请填写页面名称" autocomplete="off" class="layui-input" value="{$cur.title}" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label"><b class="is_must">*</b>页面URL</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="url" lay-verify="required" placeholder="请填写访问URL" autocomplete="off" class="layui-input" value="{$cur.url}">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">例如：http://www.baidu.com/</div>
                                </div>

                                <div class="layui-form-item box-bottom">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formSubmit" data-id="{$cur.id}" data-url="{:url('donePage')}" data-back="{:url('page')}">立即提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>