<extend name="public/base" />
<block name="body">
    <section class="rt_wrap content">
        <div class="rt_content">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">资讯主题列表</li>
                    <eq name="_right.delTheme" value="1">
                        <button data-href="{:url('delTheme')}" class="batch-btn layui-btn layui-btn-danger layui-btn-sm fr">批量删除</button>
                    </eq>
                    <eq name="_right.doTheme" value="1">
                        <button data-href="{:url('doTheme')}" class="layer_open_iframe layui-btn layui-btn-normal layui-btn-sm fr">添加主题</button>
                    </eq>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <!--搜索-->
                        <form class="layui-form table-reload">
                            <div class="layui-inline">
                                <input class="layui-input reload-search" data-name="name" data-type="like" autocomplete="off" placeholder="主题名称...">
                            </div>
                            <div class="layui-inline">
                                <select class="reload-search" data-name="status" data-type="eq" placeholder="全部">
                                    <option value="">全部</option>
                                    <option value="1">已发布</option>
                                    <option value="2">已删除</option>
                                </select>
                            </div>
                            <button type="button" class="layui-btn reload-btn" data-type="reload">搜索</button>
                        </form>

                        <!--table列表-->
                        <table id="table-list" lay-filter="table-list"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--状态-->
    <script type="text/html" id="tpl_status">
        {{# if(d.disabled){ }}
        <input type="checkbox" lay-skin="switch" disabled lay-text="是|否" {{ d.status == 1 ? 'checked' : '' }} >
        {{# }else{ }}
        <input type="checkbox" name="status" value="{{d.id}}" data-true="1" data-false="2" data-tb="activity" lay-skin="switch" lay-text="是|否" lay-filter="setZdVal" {{ d.status == 1 ? 'checked' : '' }}>
        {{# } }}
    </script>

    <!--工具栏-->
    <script type="text/html" id="toolbar">
        <eq name='_right.doTheme' value='1'>
            <a lay-event="edit" data-href="{:url('doTheme')}?id={{d.id}}" class="layui-btn layui-btn-normal layui-btn-xs">编辑</a>
        </eq>
        <eq name='_right.delTheme' value='1'>
            <a lay-event="del" data-href="{:url('delTheme')}" data-id="{{d.id}}" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
        </eq>
        <if condition="$_right.doTheme neq 1 AND $_right.delTheme neq 1">
            暂无操作权限！
        </if>
    </script>

    <script type="text/javascript">
        var tableId = 'table-list';
        var url = '/document/theme';
        var cols = [[ //表头
            {type:'checkbox',width:38},
            {field: 'id', title: 'ID',width:210},
            {field: 'name', title: '活动名称',width:210},
            {field: 'create_time', title: '报名时间',},
            {fixed: 'right', title: '操作管理',width:209, align:'center', templet: '#toolbar'}
        ]];

        //初始化
        initTable(tableId,url,cols);
    </script>
</block>
