<extend name="public/base" />
<block name="css">
    <style>
        body{
            background: #fff;
        }
        .available{ width: 350px;height: 350px; margin:50px  auto}
        .available>img{width: 350px;height: 350px;}
        .available_h{ font-size: 25px; text-align: center; color: #333}
    </style>
</block>
<block name="body">
    <div class="countlist">
        <div class="available"><img src="__IMG__/zanwu.svg" alt=""></div>
        <h3 class="available_h">页面待开发！</h3>
    </div>
</block>