<extend name="public/base" />
<block name="body">
    <section class="rt_wrap content">
        <div class="rt_content">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">缓存管理</li>
                    <eq name='_right.delCache' value='1'>
                        <button data-href="{:url('delCache')}" class="batch-btn layui-btn layui-btn-danger layui-btn-sm fr">批量删除</button>
                    </eq>
                    <eq name='_right.delAllCache' value='1'>
                        <button data-href="{:url('delAllCache')}" data-msg="确定要全部清空？" data-all="1" class="batch-btn layui-btn layui-btn-danger layui-btn-sm fr">全部清空</button>
                    </eq>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <!--搜索-->
                        <form class="layui-form table-reload">
                            <div class="layui-inline">
                                <input class="layui-input reload-search" data-name="a.tab" data-type="like" autocomplete="off" placeholder="数据表名...">
                            </div>
                            <div class="layui-inline">
                                <input class="layui-input reload-search start-end" data-name="a.create_time" data-type="between" autocomplete="off" placeholder="开始时间 ~ 截止时间" readonly>
                            </div>
                            <button type="button" class="layui-btn reload-btn" data-type="reload">搜索</button>
                        </form>

                        <!--table列表-->
                        <table id="table-list" lay-filter="table-list"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--工具栏-->
    <script type="text/html" id="toolbar">
        <eq name='_right.delCache' value='1'>
            <a lay-event="del" data-href="{:url('delCache')}" data-id="{{d.id}}" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
        </eq>
        <if condition="$_right.delCache neq 1">
            暂无权限
        </if>
    </script>

    <script type="text/javascript">
        var tableId = 'table-list';
        var url = '/sysset/cache';
        var cols = [[ //表头
            {type:'checkbox',width:38},
            {field: 'id', title: 'ID',width:89, align: 'cetner' },
            {field: 'tab', title: '数据表名',width:146},
            {field: 'cache_name', title: '缓存名称'},
            {field: 'update_time', title: '生成时间',width:149},
            {fixed: 'right', title: '操作管理',width:79, align:'center', templet: '#toolbar'}
        ]];

        //初始化
        initTable(tableId,url,cols);
    </script>
</block>