<extend name="public/base" />
<block name="body">
    <section class="rt_wrap content">
        <div class="rt_content">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">{$title}</li>
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr" onclick="layer_close_iframe()">返回列表</button>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="tab-item-content">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label"><b class="is_must">*</b>地址名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="name"  lay-verify="required" placeholder="请填写地址名称" autocomplete="off" class="layui-input" value="{$cur.name}" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label"><b class="is_must">*</b>所属节点</label>
                                    <div class="layui-input-inline">
                                        <select id="pid" name="pid" lay-verify="required" placeholder="请选择所属节点" lay-search>
                                            <option value="">请选择所属节点</option>
                                            <eq name="cur.pid" value="0">
                                                <option data-type="0" value="0" selected="selected">作为一级节点</option>
                                                <else/>
                                                <option data-type="0" value="0">作为一级节点</option>
                                            </eq>
                                            {:create_select_list($lists,$cur['pid'])}
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-form-item icon">
                                    <label class="layui-form-label">邮政编码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="code" placeholder="请填写邮政编码" autocomplete="off" class="layui-input" value="{$cur.code}">
                                    </div>
                                </div>
                                <div class="layui-form-item box-bottom">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formSubmit" data-id="{$cur.id}" data-url="{:url('doneDistrict')}" data-back="{:url('district?_t='.$cur['time'].'#'.$cur['id'])}">立即提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>