<extend name="public/base" />
<block name="body">
    <section class="rt_wrap content">
        <div class="rt_content">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">日志管理</li>
                    <eq name='_right.delLogs' value='1'>
                        <button data-href="{:url('delLogs')}" class="batch-btn layui-btn layui-btn-danger layui-btn-sm fr">批量删除</button>
                    </eq>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <!--搜索-->
                        <form class="layui-form table-reload">
                            <div class="layui-inline">
                                <input class="layui-input reload-search" data-name="b.username" data-type="like" autocomplete="off" placeholder="操作者...">
                            </div>
                            <div class="layui-inline">
                                <input class="layui-input reload-search start-end" data-name="a.create_time" data-type="between" autocomplete="off" placeholder="开始时间 ~ 截止时间" readonly>
                            </div>
                            <div class="layui-inline">
                                <select class="reload-search" data-name="a.status" data-type="eq" placeholder="全部状态">
                                    <option value="">全部状态</option>
                                    <option value="1">成功</option>
                                    <option value="2">失败</option>
                                </select>
                            </div>
                            <button type="button" class="layui-btn reload-btn" data-type="reload">搜索</button>
                        </form>

                        <!--table列表-->
                        <table id="table-list" lay-filter="table-list"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--操作状态-->
    <script type="text/html" id="tpl_status">
        {{# if(d.status == 1){ }}
        <span class="color_green">成功</span>
        {{# }else{ }}
        <span class="color_red">失败</span>
        {{# } }}
    </script>

    <!--工具栏-->
    <script type="text/html" id="toolbar">
        <eq name='_right.delLogs' value='1'>
            <a lay-event="del" data-href="{:url('delLogs')}" data-id="{{d.id}}" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
        </eq>
        <if condition="$_right.delLogs neq 1">
            暂无权限
        </if>
    </script>


    <script type="text/javascript">
        var tableId = 'table-list';
        var url = '/sysset/logs';
        var cols = [[ //表头
            {type:'checkbox',width:38},
            {field: 'id', title: 'ID',width:89, align: 'cetner' },
            {field: 'username', title: '操作者',width:99},
            {field: 'page', title: '操作模块',width:241},
            {field: 'content', title: '日志内容'},
            {field: 'status', title: '状态',width:59, templet: '#tpl_status'},
            {field: 'create_time', title: '操作时间',width:129},
            {fixed: 'right', title: '操作管理',width:79, align:'center', templet: '#toolbar'}
        ]];

        //初始化
        initTable(tableId,url,cols);
    </script>
</block>